<!DOCTYPE html>
<html>
<head>
  <title>CtAngularStrapRails</title>
  <%= stylesheet_link_tag    "ct_angular_strap_rails/application", media: "all" %>
  <%= javascript_include_tag "ct_angular_strap_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
